<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="%SystemDrive%\inetpub\custerr" path="https://a-goodarzi.ir/pages/404/index.html" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
</configuration>
